{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "endOfLine": "lf",
  "importOrder": ["^react$", "^next", "", "<THIRD_PARTY_MODULES>", "", "^@/", "", "^[./]"],
  "importOrderParserPlugins": ["typescript", "jsx"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
