name: Tests

on:
  push:
    branches: [ main ]

jobs:
  backend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    
    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH
    
    - name: Install dependencies
      working-directory: ./back
      run: poetry install --with dev --no-root
    
    - name: Run ruff format
      working-directory: ./back
      run: poetry run ruff format --check .
    
    - name: Run ruff check
      working-directory: ./back
      run: poetry run ruff check .
    
    - name: Run tests
      working-directory: ./back
      run: poetry run pytest

  frontend:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "18"

    - uses: pnpm/action-setup@v4
      with:
        version: 8
    
    - name: Install dependencies
      working-directory: ./front
      run: pnpm install
    
    - name: Run format
      working-directory: ./front
      run: pnpm format
    
    - name: Run lint
      working-directory: ./front
      run: pnpm lint
    
    - name: Run tests
      working-directory: ./front
      run: pnpm test
